.login {
	div[class~="ant-form-item-label"] {
		text-align: right;
		margin-right: 4px;

		label[class~="ant-form-item-required"]::before {
			display: none;
		}
	}
	&__forget-pass {
		float: left;
	}
	&__register-btn {
		text-align: center;
		color: var(--gray);
		margin-top: 15px;
	}
}
