:root {
	// Green family
	--green: #377459;
	--green-light: #35a56e;
	// Blue family
	--blue: #293f84;
	--blue-dark: #132852;
	--blue-light: #2e73ae;
	--info: #17a2b8;
	// Gray family
	--gray: #6d6d70;
	--gray-light: #e9e9f0;
	// Font family
	--font-family: "Fira Sans", "Sans Serif", monospace;
}
